<!DOCTYPE html>
<html lang="en">

<head>
	<title>Test App</title>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!-- custom -->
	<link rel="stylesheet" type="text/css" href="css/burgerEater.css">
</head>

<body>
	{{{ body }}}
	<hr />
	<p>Made by <a href="https://github.com/eqmvii">Eric Mancini</a></p>

</body>

</html>
