<h1>Login</h1>

<hr />

<form action="/login" method="POST" class="ui form">
    <div class="field five wide">
        <label>Username</label>
        <input type="text" name="username" class="ui input"></input>
    </div>
    <div class="field five wide">
        <label>Password</label>
        <input type="text" name="password" class="ui input"></input>
    </div>
    <button class="ui secondary button" type="submit">
        <i class="icon angle right"></i>
        Sign In
    </button>
</form>

<script src="js/login.js" type="text/javascript"></script>
