<h1>Hello {{ user.username }}!</h1>
<p>You are authenticated! You are user #{{user.id}}</div></p>
<p>You were created at: {{user.createdAt}}</p>

<p><a href="/logout">Log Out</a></p>


<a href="/">Back Home</a>
