<h1>Hello {{ user.username }}!</h1>
<p>You are authenticated! You are user #{{user.id}}</div></p>
<p>You were created at: {{user.createdAt}}</p>
<p><a href="/api/bands">Bands API test just for you!</a></p>

  {{#if user.admin}}
    <h1 style="color:red">YOU ARE A SUPER ADMIN</h1>
    <hr />
    <p><a href="/api/users">Users API test</a></p>
    <p><a href="/api/bands">Bands API test</a></p>
    <p><button id="delete-all">Delete all users and bands</button></p>
  {{/if}}





<hr />

<p><a href="/logout">Log Out</a></p>




<a href="/">Back Home</a>

<script src="js/profile.js" type="text/javascript"></script>
