<!-- this is crazy hacky - this is the build output, copied, and with some extra syntax/span to feed data to the react app on the inside-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/react/manifest.json">
    <link rel="shortcut icon" href="/react/favicon.ico">
    <title>React App</title>
    <link href="/react/static/css/main.c17080f1.css" rel="stylesheet">
</head>

<body>
    <h1>Hello {{ user.username }}! Everything below this is rendered in ~react~</h1>
    <span id="react-data-username" data-name="{{ user.username }}"></span>
    <div id="root"></div>
    <script type="text/javascript" src="/react/static/js/main.a9275ef7.js"></script>
</body>

</html>
