<form action="/api/users" method="POST" class="ui form">
    <h3>Add a user</h3>

    <div class="field five wide">
        <label>Username</label>
        <input type="text" name="username" class="ui input"></input>
    </div>

    <div class="field five wide">
        <label>Password</label>
        <input type="text" name="password" class="ui input"></input>
    </div>

    <button class="ui primary button" type="submit">
        <i class="icon user"></i>
        Add User
    </button>
</form>
