/* body {
    color: blue;
} */

.edit-form {
    display: none;
    transition: linear 2s;
}

.landing-image {
    padding-top: -10px;
    background-image: url('https://s3.us-east-2.amazonaws.com/eqmvii-burgereater/arch.png') !important;
    background-size: cover !important;
    height: 470px !important;

    /* border-radius: 8px; */
    border: 1px solid #afa6a6;

    /* centered and constrained */
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 16px;
    margin-top: -14px;
}

#landing-text {
    position: relative;
    top: 40%;
    left: 68%;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
